body {
	background-color: #CB998A;
	font-family: 'Lato', sans-serif;
}

/*.navbar.transparent.navbar-inverse .navbar-inner */
.navbar-default {
   background-color: #49494b;
}

#jalogo {
	height: 3em;
	float: left;
	margin-right: 0.2em;
}

a > h1 {
	font-size: 1.3em;
	margin: 0;
	line-height: 1.2em;
}

a > small {
	font-size: 0.7em;
	margin: 0;
}

#nav-contact {
	background-color: #D3C2AB;
	padding: 0.5em;
	border-radius: 0.5em;
	color: white;
	margin-left: 0.5em;
}

#card-image {
	position: absolute;
	top: 31em;
	height: 48em;
	width: 100%;
	z-index: -1;
}

#titlebox {
	margin-top: 12em;
}

.titletext {
	font-size: 8em;
}

.subtitletext {
	font-size: 2.5em;
}

#profile {
	position: absolute;
	top: 20em;
	left: 55%;
	height: 40em;
	width: 25em;
	background-size: auto 40em; 
}

.landing {
	width: 100px;
	height: 100px;
}

#aboutmelanding {
	position: relative;
	top: 9em;
}

.shadowbox {
	box-shadow: 7px 7px 1px 3px  rgba(0, 0, 0, 0.3);
}

#aboutme-container {
	background-color: white;
	margin-top: 13em;
	width: 50%;
	padding: 3em;
}

#skillslanding {
	position: relative;
	top: -1em;
}

#skills {
	background-color: #E5E5E9;
	margin-top: 3em;
	padding-bottom: 2em;
}

.boxleft {
	width: 45%;
	padding-top: 3em;
	display: inline-block;
}

.boxright {
	width: 45%;
	padding-top: 3em;
	float: right;
}

.techtable {
  	border: 1px solid black;
  	margin-top: 0.5em;
  	margin-bottom: 1em;
  	height: 1em;
  	width: 100%;
}

#whatimdoing {
	margin-top: 2em;
}

#whatimdoingrow {
	height: 3.25em;
}

#projectslanding {
	position: relative;
	top: -3em;
}

#projects {
	display: flex;
  	justify-content: space-between;
}

.card {
	display: inline-block;
	width: 30%;
	margin: auto;
	padding: 1em;
	height: 40em;
	border-radius: 0;
}

.card-img-top {
	height: 20em;
	object-fit: contain;
}

.openproject {
	position: absolute;
	bottom: 3em;
	background-color: #D3C2AB;
	padding: 0.5em;
	border-radius: 0.5em;
	color: white;

}

#projectstitle {
	margin: 1em;
	text-align: center;
}

.carousel {
	height: 50em;
}

#contactmelanding {
	position: relative;
	top: 0em;
}

#contactme {
	background-color: white;
	margin-top: 3em;
	height: 45em;
}

iframe {
	border: 0;
	width: 100%;
	height: 15em;
}

#submit {
	background-color: #D3C2AB;
	padding: 0.5em;
	border-radius: 0.5em;
	color: white;
	width: 10em;
	margin-top: 1em;
}

#message {
	height: 12em;
}

.row {
	margin-top: 0.5em;
}

footer {
	background-color: #49494b;
	overflow: hidden;
	color: white;
	text-align: center;
	padding: 1em;
}

#social {
	margin: 0.5em;
}

.smallicons {
	background-color: #D3C2AB;
	height: 2.25em;
	border-radius: 2.25em;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

/*end of styling, begin screen sizes*/

/*tablet size*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
	#card-image {
	position: absolute;
	top: 24em;
	height: 35.8em;
	width: 100%;
	z-index: -1;
	}

	#titlebox {
	margin-top: 10em;
	}

    .titletext {
		font-size: 6em;
	}

	.subtitletext {
		font-size: 1.5em;
	}

    #profile {
		position: absolute;
		top: 20%;
		left: 60%;
		height: 40%;
		width: 35%;
		background-size: auto 100%;
	}

	#aboutmelanding {
	position: relative;
	top: 3em;
	}

	#aboutme-container {
	margin-top: 12em;
	width: 100%;
	padding: 3em;
	}

	#skills {
		height: 60em;
	}

	.carousel {
	height: 28em;
	}

	.boxleft {
	width: 100%;
	padding-top: 3em;
	display: block;
	position: relative;
	overflow: hidden;
	}

	.boxright {
	width: 100%;
	padding-top: 3em;
	display: block;
	position: relative;
	overflow: hidden;
	}

	#contactme {
	height: 83em;
	}

	#projects {
	display: block;
  	justify-content: space-between;
  	width: 100%;
	}

	.card {
	width: 100%;
	margin-top: 2em;
	padding: 1em;
	height: 40em;
	}

}

/*regular phone*/
@media screen and (min-width: 321px) and (max-width: 767px) {
    #card-image {
	position: absolute;
	top: 30em;
	height: 61.50em;
	width: 100%;
	z-index: -1;
	}

	#titlebox {
	margin-top: 35%;
	margin-left: 0em;
	}

    .titletext {
		font-size: 4em;
	}

	.subtitletext {
		font-size: 1.2em;
	}

    #profile {
		position: absolute;
		top: 23em;
		left: 30%;
		height: 40%;
		width: 60%;
		background-size: auto 100%;
	}

	#aboutmelanding {
	position: relative;
	top: 25em;
	}

	#aboutme-container {
	margin-top: 30em;
	width: 90%;
	padding: 3em;
	margin-left: auto;
	margin-right: auto;
	}

	#skills {
		height: 70em;
	}

	.carousel {
	height: 28em;
	}

	.boxleft {
	width: 100%;
	padding-top: 3em;
	display: block;
	position: relative;
	overflow: hidden;
	}

	.boxright {
	width: 100%;
	padding-top: 3em;
	display: block;
	position: relative;
	overflow: hidden;
	}

	#contactme {
	height: 83em;
	}

	#projects {
	display: block;
  	justify-content: space-between;
  	width: 100%;
	}

	.card {
	width: 100%;
	margin-top: 2em;
	padding: 1em;
	height: 40em;
	}
}

/*small phone*/
@media screen and (min-width: 0px) and (max-width: 320px) {
	#jalogo {
	height: 2.5em;
	margin-right: 0.1em;
}
	a > h1 {
	font-size: 1.2em;
	margin: 0;
	line-height: 1em;
}

	a > small {
	font-size: 0.6em;
	margin: 0;
}

    #card-image {
	position: absolute;
	top: 30em;
	height: 61.50em;
	width: 100%;
	z-index: -1;
	}

	#titlebox {
	margin-top: 40%;
	margin-left: 0em;
	}

    .titletext {
		font-size: 4em;
	}

	.subtitletext {
		font-size: 1.2em;
	}

    #profile {
		position: absolute;
		top: 20em;
		left: 10%;
		height: 45%;
		width: 80%;
		background-size: auto 100%;
	}

	#aboutmelanding {
	position: relative;
	top: 22em;
	}

	#aboutme-container {
	margin-top: 30em;
	width: 95%;
	padding: 3em;
	margin-left: auto;
	margin-right: auto;
	}

	#skills {
		height: 70em;
	}

	.carousel {
	height: 28em;
	}

	.boxleft {
	width: 100%;
	padding-top: 3em;
	display: block;
	position: relative;
	overflow: hidden;
	}

	.boxright {
	width: 100%;
	padding-top: 3em;
	display: block;
	position: relative;
	overflow: hidden;
	}

	#contactme {
	height: 83em;
	}

	#projects {
	display: block;
  	justify-content: space-between;
  	width: 100%;
	}

	.card {
	width: 100%;
	margin-top: 2em;
	padding: 1em;
	height: 40em;
	}